/* ************************************** */
/* *************** HEADER *************** */
/* ************************************** */

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logos {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--box {
            width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & i {
                font-size: 1.5em;
            }
        }
    }
    @include media-queries-max($width-tablet) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    @include media-queries-max($width-smartphone) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: $margins-paddings;
    @include media-queries-max($width-smartphone) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    @include media-queries-max($width-tablet) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
