.page-container {
  max-width: 1440px;
  margin: 0 auto 20px;
  font-family: "Hind", sans-serif;
}

html, body, h1, form, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
}

/* ************* VARIABLES ************** */
/* *************** COLOUR *************** */
a {
  text-decoration-line: none;
  color: #000;
}

.pink {
  background-color: #f3e9f1;
}

.white {
  background-color: #fff;
}

/* *************** WIDTHS *************** */
/* *************** MIXINS *************** */
/* ************************************** */
/* *************** HEADER *************** */
/* ************************************** */
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top__logos {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top__logos--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top__logos--box i {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  flex-direction: row;
}

/* *************** BUTTONS ************** */
.nav-button {
  height: 50px;
  border-radius: 25px 25px 0 0;
  border-left: 2px solid #8f5bfe;
  border-top: 2px solid #8f5bfe;
  border-right: 2px solid #8f5bfe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-buy {
  border: 4px solid #d07e42;
  width: 60px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  font-style: #d07e42;
  text-align: center;
}

.payment-button {
  border: 4px solid #d07e42;
  width: auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  font-style: #d07e42;
  text-align: center;
}

/* ************************************** */
/* **************** MAIN **************** */
/* ************************************** */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* *** page catalogue *** */
.catalog {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.catalog__content {
  height: 250px;
  max-width: 325px;
  border-radius: 15px;
  box-shadow: 0 0 15px #cecece;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* *** page catalogue : conteneur *** */
.item {
  height: 250px;
  max-width: 325px;
  position: relative;
  z-index: 0;
}
.item__image-dimension {
  height: 175px;
  min-width: 100%;
  max-width: 100%;
}
.item__image-dimension img {
  width: 100%;
}
.item__description {
  height: 75px;
  background-color: #fff;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__buy-now {
  position: absolute;
  right: 5%;
  top: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *** page fiche produit *** */
.product-sheet {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.product-sheet__reference {
  display: flex;
  align-items: baseline;
}
.product-sheet__reference--title {
  padding: 0 10%;
}
.product-sheet__reference--ref {
  padding: 0 5%;
}
.product-sheet__description {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product-sheet__description--image {
  height: 300px;
  min-width: 50%;
  max-width: 50%;
  overflow: hidden;
}
.product-sheet__description--image img {
  width: 100%;
}
.product-sheet__description--content {
  width: 50%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.product-sheet__buy-now {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* *** page panier ***/
.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 15px #cecece;
}
.selection h2 {
  width: 96%;
  padding: 0 2%;
}
.selection__item {
  width: 96%;
  padding: 2%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.selection__item--image-mini {
  min-width: 100px;
  max-width: 100px;
  height: 80px;
  overflow: hidden;
}
.selection__item--image-mini img {
  width: 100%;
}
.selection__total-price {
  height: 50px;
  width: 96%;
  padding: 0 2%;
  border-top: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.payment h2 {
  width: 96%;
  padding: 0 2%;
}
.payment__choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  white-space: nowrap;
}

.payment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.payment-form h2 {
  width: 96%;
  padding: 0 2%;
}
.payment-form__registration {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 15px #cecece;
}
.payment-form__registration--container {
  padding: 0 4%;
}
.payment-form__registration--container .bank-info {
  padding: 0 4%;
}

/* ************************************** */
/* *************** FOOTER *************** */
/* ************************************** */
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-wrapper__about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-wrapper__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrapper__social--links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-wrapper__social--links p {
  font-size: 24px;
  text-align: center;
  padding: 0 2%;
}

/* ************ TYPOGRAPHIE ************* */
@font-face {
  font-family: "Hind";
  src: url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
