.main-container {
    width: 1440px;
    margin: auto;
}

/* *************** COLOUR *************** */

$colour-base: #FFF;
$colour-primary: #8F5BFE;
$colour-secondary: #D07E42;
$colour-tertiary: #F3E9F1;


/* ************************************** */
/* *************** HEADER *************** */
/* ************************************** */

header {
    background-color: $colour-tertiary;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logos {
        display: flex;
        align-items: center;
    }
}

.white {
    background-color: $colour-base;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* *************** BUTTONS ************** */

.button-1 {
    height: 50px;
    width: 20%;
    border-radius: 25px;
    background-color: $colour-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ************************************** */
/* **************** MAIN **************** */
/* ************************************** */



/* ************************************** */
/* *************** FOOTER *************** */
/* ************************************** */


footer {
    background-color: $colour-tertiary;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    &__about {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}