.confirmation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__conf_number {
        text-align: center;
    }
    &__order_recap {
        width: 100%;
        &--item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @include media-queries-max($width-smartphone) {
                flex-direction: column;
                align-items: center;
            }
            @include media-queries-max($width-tablet) {
                flex-direction: column;
                align-items: center;

            }
            @include media-queries-max($width-laptop) {
                flex-direction: column;
                align-items: center;
            }
            @media print {
                flex-direction: row;
            }
        }
        &--total_price {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__email_message {
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            text-align: center;
        }
    }
}

#logo_to_print {
    display: none;
    @media print {
        display: block;
    }
}

#to_print {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not_to_print {
    @media print {
        display: none;
    }
}
