/* *** page panier ***/

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    border: 2px solid $colour-text;
    border-radius: 15px;
    box-shadow: 0 0 15px $colour-shadow;
    & h2 {
        width: 96%;
        padding: 0 2%;
    }
    &__item {
        width: 96%;
        padding: 2%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &--image-mini {
            min-width: 100px;
            max-width: 100px;
            height: 80px;
            overflow: hidden;
        }
        &--image-mini img {
            width: 100%;
        }
    }
    &__total-price {
        height: 50px;
        width: 96%;
        padding: 0 2%;
        border-top: 1px solid $colour-text;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    & h2 {
        width: 96%;
        padding: 0 2%;
    }
    &__choice {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        white-space: nowrap;
    }
}

.payment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    & h2 {
        width: 96%;
        padding: 0 2%;
    }
    &__registration {
        display: flex;
        flex-direction: column;
        border: 2px solid $colour-text;
        border-radius: 15px;
        box-shadow: 0 0 15px $colour-shadow;
        &--container {
            padding: 0 4%;
            & .bank-info {
                padding: 0 4%;
            }
        }
    }
}