/* *** page panier ***/

.selection_container {
    width: 90%;
    border: 2px solid $colour-text;
    border-radius: 15px;
    box-shadow: 0 0 15px $colour-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h2 {
        padding: 0 2%;
    }
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &__item {
        width: 96%;
        padding: 2%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &--Empty_Basket {
            align-self: center;
            padding: $margins-paddings 0;
        }
        &--image-mini {
            min-width: 100px;
            max-width: 100px;
            height: 80px;
            overflow: hidden;
        }
        &--image-mini img {
            width: 100%;
        }
        &--suppress {
            margin-bottom: 20px;
        }
    }
    &__total_price {
        height: 50px;
        width: 96%;
        padding: 0 2%;
        border-top: 1px solid $colour-text;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    & h2 {
        width: 96%;
        padding: 0 2%;
    }
    &__choice {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        white-space: nowrap;
    }
}

.payment_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    & h2 {
        width: 96%;
        padding: 0 2%;
    }
    &__registration {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid $colour-text;
        border-radius: 15px;
        box-shadow: 0 0 15px $colour-shadow;
        padding: $margins-paddings 0;
        &--container {
            padding: 0 4%;
            & .bank-info {
                padding: 0 4%;
            }
            & input {
            display: block;
            width: 100%;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            margin: 7px;
            @include media-queries-max($width-smartphone) {
                width: 90%;
            }
            }
        }
        @include media-queries-max($width-smartphone) {
            flex-direction: column;
        }
    }
}