/* *** page fiche produit *** */

.product-sheet {
    width: 90%;
    display: flex;
    flex-direction: column;
    &__reference {
        display: flex;
        align-items: baseline;
        &--title {
            padding: 0 10%;
        }
        &--ref {
            padding: 0 5%;
        }
    }
    &__description {
        width: 100%;
        display: flex;
        flex-direction: row;
        &--image {
            height: 300px;
            min-width: 50%;
            max-width: 50%;
            overflow: hidden;
            @include media-queries-max($width-smartphone) {
                min-width: 100%;
                max-width: 100%;    
            }
        }
        &--image img {
            width: 100%;
            margin: auto;
        }
        &--content {
            width: 50%;
            padding: 0 5%;
            display: flex;
            flex-direction: column;
            @include media-queries-max($width-smartphone) {
                width: 100%;    
            }
        }
        @include media-queries-max($width-smartphone) {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__buy-now {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}