/* *** page catalogue *** */

.catalog {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: $margins-paddings;
    &__item {
        height: 250px;
        max-width: 325px;
        border-radius: 25px;;
        box-shadow: 0 0 15px $colour-shadow;
        margin: $margins-paddings 2%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        z-index: 0;
        &--image_dimension {
            height: 175px;
            min-width: 100%;
            max-width: 100%;
            & img {
            width: 100%;
            }
        }
        &--description {
            height: 75px;
            background-color: $colour-base;
            padding-left: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &--description p {

            font-size: 1.5em;
        }
        &--buy-now {
            background-color: $colour-secondary-lighter;
            height: 50px;
            border-radius: 5px;;
            position: absolute;
            right: 5%;
            top: 20px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @include media-queries-max($width-smartphone) {
        width: 90%;
    }
}

.ref {
    padding-left: 1%;
}